.navbar{
    background-color: #1F2937;
    font-family: roboto;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-right: 10px;
}
nav{
    margin-right: 10px;
}