.navbar{
    background-color: #1F2937;
    font-family: roboto;
    font-size: 16px;
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-right: 10px;
}
nav {
    background-color: #1F2937;
  }
body{
    background-color: #1F2937;
    height: 100%;
    width: auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline-block;
}
  
nav ul li a {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    text-decoration: none;
    color:rgb(248, 242, 242);
    font-weight: bold;
}
  
nav ul li a:hover {
    background-color: #651919;
}
header{
    display: inline;
    display: flex;
    flex: auto;
}
.logo img {
    height: 10px;
    width: auto;
    display: flex;
}
